<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <nav class="navbar sticky-top navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h5 style="text-align: center;">Upload</h5>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Your Uploads</a>
                </li>
            </ul>
        </a>
      </div>
    </nav>
    
<style>
*{
        overflow-x: hidden;
    }
    label{
        font-size: 20px;
    }
    
    .inputBox{
        margin-left: 550px;
        margin-top: 10px;
    }
    h1{
        text-align: center;
        margin-top: 100px;
    }
</style>

<h1>Upload</h1>
<div class="inputBox">
    
    

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  </div>