<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <nav class="navbar sticky-top navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h5 style="text-align: center;">Your Uploads</h5>
        </a>
      </div>
    </nav>

<a href="/upload">Upload More</a>

<div class="row row-cols-1 row-cols-md-2 g-4">
{% for post in posts %} 

    <div class="col">
      <div class="card">
        <img src="{{ post.img.url }}" class="card-img-top image" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ post.name }}</h5> 
          <a href="/edit/{{post.name}}"><button type="button" class="btn btn-danger">Edit</button></a>
        </div>
      </div>
    </div>

{% endfor %} 
</div>

<style>
    .image{
        margin-left: 150px;
        width: 400px;
        height: 250px;
    }
</style>
